parameters:
	excludePaths:
		- bootstrap/cache
		- node_modules
		- storage
		- vendor
	ignoreErrors:
		- '#(Access to an undefined property|Call to an undefined static method) App\\Models\\\w+::\w+\(\)#'
		- '#Call to static method \w+\(\) on an unknown class DB.#'
	paths:
		- .
	level: 5
