.subscription-confirm-container {
	width: 80%;
	margin: 80px auto;
	padding: 1% 5% 1% 5%;
	text-align: center;
}
.subscription-confirm-container h2 {
	margin-bottom: 24px;
	color: #333;
}
.subscription-confirm-container h3 {
	font-weight: normal;
	color: #333;
}
.subscription-confirm-container li {
	text-align: left;
}
.subscription-confirm-button-back {
	width: 100%;
	padding: 10px 0;
	margin-top: 25px;
	margin-bottom: 20px;
	background-color: #eee;
	color: #000;
	border: none;
	border-radius: 6px;
	font-size: 17px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.2s;
}
.subscription-confirm-button-back:hover {
	background-color: #ddd;
}
