.coupon-titlebar{
    background-image: linear-gradient(#c2ebdc /* #eee */ 70%, transparent);
	height: 88px;
    margin: 42px 0 20px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	position: fixed; /* fixedに変更 */
	top: 0; /* 画面上部に固定 */
	left: 0;
	width: 100vw;
	color: #000;
	z-index: 500; /* 他UIより上に */
}
.coupon-titlebar h1{
    text-align: center;
	width: 100%;   
}
.coupon-titlebar-update {
	position: absolute;
	right: 8px;
	top: 26px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.coupon-titlebar-update button {
	background: #14b888;
	color: #fff;
	border: 0px;
	padding: 6px 10px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 700;
	font-size: 13px;
}