.checkin-box {
	background-color: #fff;
	width: 80%;
	margin: 40px auto;
	padding: 1% 5% 1% 5%;
	border-radius: 8px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.checkin-box h2 {
	text-align: center;
	width: 100%;
}

.marker-icon {
	width: 15%; /* 親の幅に対する15%表示 */
	min-width: 30px; /* モバイルや小画面対策で最小値も入れると良い */
	max-width: 40px; /* 最大値も任意で */
	height: auto;
}
