body {
	margin: 0;
	background: #d1d1d1;
	font-family: "Noto Sans JP", sans-serif;
}
.header-bar {
	background: #27f2b6;
	height: 42px;
	display: flex;
	align-items: center;
	padding: 0 24px;
	box-sizing: border-box;
	position: relative;
	color: white;
}
.hamburger {
	width: 48px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 16px;
}
.hamburger-bars {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 32px;
}
.bar {
	background: #fff;
	height: 4px;
	border-radius: 2px;
	margin: 0 0 4px 0;
	width: 100%;
}
.title {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-left: 8px;
	font-family: "Noto Sans JP", sans-serif;
	margin: 0 auto;
}
.main-area {
	padding: 0;
	background: #00ccff;
	height: 350px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.main-map {
	width: 100vw;
	min-width: 100%;
	max-width: 100vw;
	height: 350px;
	border: 0;
	display: block;
}
.search-bar-area {
	background: #fff;
	border: 2px solid #14b888;
	border-radius: 8px;
	width: 243px;
	height: 42px;
	margin: 32px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	box-sizing: border-box;
}
.search-bar-area input {
	border: none;
	outline: none;
	height: 80%;
	width: 80%;
	margin-left: 16px;
	font-size: 1rem;
	background: transparent;
}
.search-icon {
	width: 28px;
	margin-right: 16px;
	fill: #14b888;
}
.bottom-bar {
	background: #fff;
	height: 47px;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}
.gradient-top {
	position: absolute;
	width: 100%;
	height: 8px;
	top: 0;
	left: 0;
	background-image: linear-gradient(
		to bottom,
		#999 0%,
		rgba(255, 255, 255, 0) 95%
	);
	mix-blend-mode: multiply;
	z-index: 1;
}
.gradient-bottom {
	position: absolute;
	width: 100%;
	height: 8px;
	bottom: 47px;
	left: 0;
	background-image: linear-gradient(
		to top,
		#999 0%,
		rgba(255, 255, 255, 0) 95%
	);
	mix-blend-mode: multiply;
	z-index: 1;
}
.container {
	width: 100vw; /* ビューポートの横幅いっぱい */
	min-width: 0;
	max-width: 100vw; /* 必要ならこれも */
	margin: 0;
	box-sizing: border-box;
	border-radius: 0; /* 角丸をなくす場合 */
	height: 100vh; /* 必要なら高さも画面いっぱい */
}
@media (max-width: 480px) {
	.container {
		max-width: 100vw;
	}
}
