.map-area {
	padding: 0;
	background: #aad3df;
	height: 320px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}
#map {
	width: 100vw;
	height: 320px;
	min-width: 100%;
	max-width: 100vw;
	border: 0;
	display: block;
}

.search-bar-area {
	margin: 32px auto;
}
.search-bar-area input {
	border: none;
	outline: none;
	height: 80%;
	width: 80%;
	margin-left: 16px;
	font-size: 1rem;
	background: transparent;
}
.search-icon {
	width: 28px;
	margin-right: 16px;
	fill: #14b888;
}

.login {
	width: 80%;
	margin: 1px auto;
	padding: 1% 5% 1% 5%;
	text-align: center;
}
.login button[type="submit"] {
	width: 80%;
	padding: 10px 0;
	margin: 0 auto 15px;
	background-color: #14b888;
	color: #fff;
	border: none;
	border-radius: 6px;
	font-size: 17px;
	cursor: pointer;
	font-weight: bold;
}
