.map-area {
	padding: 0;
	background: #aad3df;
	height: 320px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}
#map {
	width: 100vw;
	height: 320px;
	min-width: 100%;
	max-width: 100vw;
	border: 0;
	display: block;
}

.search-bar-area {
	background: #fff;
	border: 2px solid #14b888;
	border-radius: 8px;
	width: 243px;
	height: 42px;
	margin: 32px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(90, 90, 90, 0.5);
}
.search-bar-area input {
	border: none;
	outline: none;
	height: 80%;
	width: 80%;
	margin-left: 16px;
	font-size: 1rem;
	background: transparent;
}
.search-icon {
	width: 28px;
	margin-right: 16px;
	fill: #14b888;
}

.login {
	background-color: #fff;
	width: 80%;
	margin: 1px auto;
	padding: 1% 5% 1% 5%;
	border-radius: 8px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
	text-align: center;
}
.login button[type="submit"] {
	width: 80%;
	padding: 10px 0;
	margin: 0 auto 15px;
	background-color: #14b888;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 17px;
	cursor: pointer;
	font-weight: bold;
}
