.profile-edit-container {
	width: 80%;
	margin: 80px auto;
	padding: 1% 5% 1% 5%;
	text-align: center;
}
.profile-edit-container h2 {
	margin-bottom: 24px;
	color: #333;
}
.profile-edit-container label {
	display: block;
	text-align: left;
	margin-bottom: 6px;
	color: #444;
	font-size: 15px;
}
.profile-edit-avatar-group {
	display: flex;
	gap: 8%;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
	font-size: 15px;
}
.profile-edit-avatar-group input[type="file"] {
	display: none;
}
.profile-edit-avatar-group label {
	border: 2px solid #555;
	border-radius: 10px;
	padding: 3px;
}
.profile-edit-avatar-group label:hover {
	background-color: #ddd;
}
.profile-edit-container input[type="text"],
.profile-edit-container input[type="password"] {
	width: 90%;
	padding: 10px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: #fafafa;
}
.profile-edit-container button {
	width: 100%;
	padding: 10px 0;
	border: none;
	border-radius: 6px;
	font-size: 17px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.2s;
}
.profile-edit-button-group {
	display: flex;
	gap: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: bold;
}
.profile-edit-container button[type="submit"] {
	background-color: #14b888;
	color: #fff;
}
.profile-edit-container button[type="submit"]:hover {
	background-color: #108a66;
}
.profile-edit-button-cancel {
	background-color: #eee;
	color: #000;
}
.profile-edit-button-cancel:hover {
	background-color: #ddd;
}
