.profile-container {
	width: 80%;
	margin: 80px auto;
	padding: 1% 5% 1% 5%;
	text-align: center;
}
.profile-container h2 {
	margin-bottom: 24px;
	color: #333;
}
.profile-avatar-group {
    display: flex;
    gap: 8%;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
	font-size: 15px;
}
.profile-avatar {
	width: 130px;
	height: 130px;
	border-radius: 20%;
	overflow: hidden;
	background: rgba(
		255,
		255,
		255,
		0.08
	); /* 背景（画像が透過している時のため） */
	border: 2px solid rgba(255, 255, 255, 0.12); /* 軽い枠線 */
	box-sizing: border-box;
}
.profile-box dt {
	display: block;
	text-align: left;
	margin-bottom: 6px;
	color: #444;
	font-size: 12px;
	font-weight: bold;
}
.profile-box dd {
	display: block;
	text-align: left;
	margin-bottom: 6px;
	color: #555;
	font-size: 18px;
}
.profile-container button[type="edit"] {
	width: 60%;
	padding: 10px 0;
	background-color: #14b888;
	color: #fff;
	border: none;
	border-radius: 6px;
	font-size: 17px;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 20px;
	transition: background-color 0.2s;
}
.profile-container button[type="edit"]:hover {
	background-color: #108a66;
}
